@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* CSS VARIABLES */

:root{
    --color-primary:#fefefe;
    --color-secondary:#f6f8ff;

    --text-color:#4b6a9b;
    --sub-color:#697c9a;

    --button-color:#0079ff;

    --dark-numbers:#2B3442;

    --font-main:'Space Mono', monospace;

    /* Dark Mode  */

    /* --button-color:#0079ff; */
    /* --color-primary:#fefefe; */
    --dark-primary:#141d2f;
    --darksecondary-color:#1e2a47;
}
body{
   font-family: var(--font-main);
   color: var(--text-color);
}

/* ------------------------------------ */

.wrapper{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto 90%;
    grid-template-areas: 
    "header"
    "search_area"
    "content_area";
    background-color: var(--color-secondary);
    height: 100%;
}

/* Content Box */

.content{
   display: flex;
   flex-direction: column;
   align-items: center;
   min-width: 375px;
}

.header_top{
     display: flex;
     flex-direction: row;
     justify-content:space-between;
     min-width: 327px; 
     margin: 36px 24px 31px 24px;
}

.header_top h1{
   font-size: 26px;
   font-weight: 700;
}

.header_top figcaption{
   font-size: 13px;
   font-weight: 700;
   color: var(--text-color);
}
/* Searchbar Section */
.searchbar{
   display: flex;
   justify-content: space-evenly;
   padding: 10px;
   border-radius: 20px;
   background-color:#ffffff;
   min-width: 327px;
   margin-bottom: 16px;
   box-shadow: 1px 8px 8px lightgray;
}
.searchbar img{
   margin: 10px;
}
.searchbar input{
   border: none;
   font-size:medium;
}

.searchbar button{
   width: 84px;
   height: 46px;
   color: white;
   background-color: var(--button-color);
   border: none;
   border-radius: 10px;
}
/* main content */

.main-content{
   display: flex;
   flex-direction: column;
   padding: 10px;
   min-width: 327px;
   background-color: #ffffff;

   border-radius: 20px;
   box-shadow: 1px 8px 8px lightgray;
}

.main-top{
   display: flex;
   flex-direction:row;
   padding:10px;
}
.main-top-text{
   margin-left: 10px;
}
 
/* Bio */

#bio-section{
   display: flex;
   width: 274px;
   text-align: left;
   height: fit-content;
   font-size: 13px;
   line-height: 25px;
   padding: 20px;
   
}

.stats{
   display: flex;
   flex-direction: column;
   
}

#profile-stats{
   display: flex;
   justify-content:center;
   align-items: center;
   border-radius: 20px;
   margin: 10px;
   padding: 10px;
   background-color:var(--color-secondary) ;
   justify-content: space-evenly; 
}

.profile-stats-box{
   font-weight: 400;
   text-align: center;
   margin: 10px;
}

.profile-stats-box h3{
   font-size: 11px;
   font-weight: lighter;
}

.numbers{
   font-weight: bold;
   color: var(--dark-numbers);
}

/* Social */

.social-section{
   display: flex;
   flex-direction: column;
   margin: 24px;
}
.social-icons{
   display: flex;
   margin: 10px;
}

.social-icons img{
   margin-right: 13px;
}

/* Tablet View */

@media only screen and (min-width: 728px) {
   .header_top{
      width: 573px;
   }

   .searchbar{
      width: 573px;
   }
   
   .main-content{
      width:573px;
   }
   .main-top{
      margin:20px;
   }
   .main-top-text{
      margin-left: 50px;
   }

   #bio-section{
      width: 493px;
   }

   .social-section{
      display: grid;
      grid-template-columns: 2;
      grid-template-rows: 2;
      grid-template-areas: 
      "a b"
      "c d"
      ;
   }
}

/* Desktop */

@media only screen and (min-width: 1440px) {
   .header_top{
      width: 730px;
   }

   .searchbar{
      width: 730px;
   }
   
   .main-content{
      width:730px;
   }
   .main-top{
      margin:40px;
   }
   .main-top-text{
      margin-left: 40px;
   }

   #bio-section{
      
      width: 480px;
   }

   .social-section{
      display: grid;
      grid-template-columns: 2;
      grid-template-rows: 2;
      grid-template-areas: 
      "a b"
      "c d"
      ;
   }
}